.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .header .logo-container{
    height: 100%;
    width: 70px;
    padding: 25px;
  }
  .header .options{
    height: 100%;
    width: 70px;
    padding: 25px;
  }
  .header .option{
    padding: 10px 15px;
    cursor: pointer;
  }
  